{% extends 'emails/base.html' %}

{% block content %}
<tr>
  <td>
    <span style="font-size: 25px; font-weight: bold;">
      Password assistance
    </span> <br> <br>
  </td>
</tr>

<tr>
  <td>
    <span style="font-size: 18px;">
      You have requested a password reset. Please click below to reset your password.
    </span> <br> <br>
  </td>
</tr>

<tr>
  <td>
    <a href="{{ redirect_uri }}/{{ uidb64 }}/{{ token }}"
       style="color: white; display: inline-block; background-color: #815B12; padding: 15px 40px; text-decoration: none; border-radius: 5px;">
      Reset Password
    </a>
    <br><br>
  </td>
</tr>
{% endblock content %}
